@model IEnumerable<clubmembership.Models.AnnouncementModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if(Model!=null){
<table class="table">
    <thead>
        <tr>
@*            <th>
                @Html.DisplayNameFor(model => model.Idannouncement)
            </th>
*@            <th>
                @Html.DisplayNameFor(model => model.ValidFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
@*            <td>
                @Html.DisplayFor(modelItem => item.Idannouncement)
            </td>
*@            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
@*                    <label class="form-control">@item.ValidTo</label>
*@                    @Html.DisplayFor(modelItem => item.ValidTo)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Idannouncement  }) |
                @Html.ActionLink("Details", "Details", new { id=item.Idannouncement  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Idannouncement  })
            </td>
        </tr>
}
    </tbody>
</table>
}
else
{
    <p>Empty Model </p>
}